@{
    ViewBag.Title = "Home Page";
}



<div class="body-content" style="padding:10em">
    
    <img class="img-responsive" alt="Amiga 500" src="@Url.Content("~/Content/Images/welcome.jpg")">


    </div>